body {
    background-color: black;
    color: white;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    font-family: alberston;
}

@font-face {
  font-family: alberston;
  src: url('fonts/albertson-webfont.woff');
}

@font-face {
  font-family: lobster;
  src: url('fonts/IronickNF.ttf');
}

.header-container-1 {
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    height: 80px;
    font-family: alberston;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 50px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
  }

  
  a {
    text-decoration: none;
    color: white;
    font-size: 30px;
  }

.bio-container {
    display: flex;
    height: 900px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bio-container h1 {
  font-family: lobster;
  text-align: center;
  font-size: 75px;
}

.bio-container p {
  font-family: lobster;
  text-align: center;
  font-size: 30px;
  max-height: 300px;
  max-width: 1200px;
}

.gallery-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.gallery-example {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

.gallery-example p {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  height: 100px;
}

.gallery-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-page button {
  font-size: 20px;
  padding: 10px 30px;
  background-color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 250px;
}

.gal-pages {
  display: flex;
  max-width: 2400px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.print-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.print-info h1 {
  font-size: 65px;
}

.print-info p {
  font-size: 20px;
  max-width: 1200px;
}

.print-info-img {
  display: flex;
  justify-content: center;
  margin-top: 125px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  align-items: center;
  height: 800px;
}

.contact-container p {
  text-align: center;
  font-size: 22px;
  width: 750px;
}

.active {
  background-color: white;
  color: black;
}

.zoom {
  padding: 50px;
  transition: transform .2s; 
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(2); 
}